:root {
    --color-primary: #917758;
    --color-secondary: #3c2915;
    --color-primary-light: #f5eee6;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;

}

/*************
** Main
**************/


.main {
    height: 399px;
    background: var(--color-primary);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
}



.header {
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}

.header h1 {
    color: var(--color-primary-light);
    margin-top: 10px;
    font-size: 35px;
}

.header h2 {
    font-weight: 100;
    color: var(--color-primary-light);
    margin-top: 20px;
    font-size: 15px;
}

.header h4 {
    font-weight: 100;
    color: var(--color-primary-light);
    margin-top: 10px;
    font-size: 13px;
}

.nav {
    margin-top: 40px;
}

.nav .list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.list li a {
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-primary-light);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px var(--color-secondary);
}

/*************
** HELP US 
*************/



.flex-help {
    width: 100%;
    display: flex;
    align-items: center;

}

.about {
    width: 60%;
}

.about h2 {
    color: var(--color-secondary);
    margin-bottom: 10px;
    font-weight: 400;

}

.about p {
    color: var(--color-primary);
    width: 100%;
    margin-top: 20px;
}

.form-helpUs {
    display: flex;
    width: 45%;
    justify-content: flex-end;


}

.form-helpUs .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .box-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.form .box-input input {

    border-color: var(--color-secondary);
    outline: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 6px;
}

.input-radio {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.form .btn-form {

    padding: 8px;
    color: var(--color-primary-light);
    border-color: var(--color-primary);
    border-radius: 5px;
    margin-top: 20px;
}

/**********
** Products
**********/
.favorites {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.favorites .inline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;

}


.favorites .inline h1 {
    color: var(--color-secondary);
}

.favorites .inline span {

    display: flex;
    width: 28%;
    height: 3px;
    background-color: var(--color-primary);
}


.favorites .container-products {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-products .box-products {
    padding: 5px;
    gap: 7px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 22%;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-primary-light);
    box-shadow: 0px 3px 10px #000;
}

.box-products img {
    align-self: center;
    width: 60%;
}

.box-products h4 {
    font-weight: 300;
}

.box-products h3 {
    border-bottom: 2px solid var(--color-secondary);
    font-weight: bold;
}

.box-products button {
    align-self: center;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: var(--color-primary-light);
    background-color: var(--color-primary);
    cursor: pointer;
}

.box-products button a {
    text-decoration: none;
    color: var(--color-primary-light);
}

.favorites .btn-mais {
    width: 300px;
    font-size: 20px;
    margin-top: 20px;
    align-self: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    box-shadow: 0px 0px 10px #000;
}

.favorites .btn-mais.active {
    display: none;
    visibility: 0;
}

.form2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.form2 div {
    display: flex;
    justify-content: space-around;
}

.input {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border-radius: 5px;
    border-color: var(--color-secondary);
    outline: none;
}

.input label {
    color: var(--color-primary);
}

.btn-form {
    margin-top: 40px;
    align-self: center;
    width: 300px;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    outline: none;
    box-shadow: 0px 0px 10px #000;

}

.favorites h3 {
    align-self: center;
    margin-top: 20px;
    color: var(--color-primary);
}


.final {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    background-color: var(--color-primary);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
}


.footer {
    color: var(--color-primary-light);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}